.suggestions {
  width: 100%;
  background-color: #fff;
  padding: 20px 40px;
  min-height: calc(100vh - 90px);
}

.title {
  padding-bottom: 40px;
}

.no_friends {
  text-align: center;
  margin: 40px;
}

.list_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}

.list_item:hover {
  background-color: #f0f2f5;
  border-radius: 10px;
}

.user_icon_container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.suggestion_name_text {
  font-weight: 500;
}

.btn_container {
  display: flex;
  gap: 5px;
}

.add_btn,
.decline_btn {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
}

.add_btn {
  background-color: #42b72a;
}

.decline_btn {
  background-color: #ff0000;
}

.add_btn:hover {
  background-color: #359222;
}

.decline_btn:hover {
  background-color: #cc0000;
}

@media (min-width: 600px) {
  .suggestions {
    width: 100%;
    background-color: #f0f2f5;
  }
  .user_icon_container {
    height: 200px;
    width: 200px;
    border-radius: 0;
  }
  .suggestions_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 20px;
  }
  .list_item {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
  .list_item:hover {
    background-color: #fff;
  }
}
