@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap');

.home {
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
}

/* MAIN */
.home main {
  max-width: 985px;
  margin: 0 auto;
  width: 80%;
}

.opacity {
  opacity: 0.2;
}

/* LOGO */
.logo {
  text-align: center;
  padding-top: 2rem;
}

.logo h1 {
  font-family: 'Figtree', sans-serif;
  color: #1877f2;
  font-size: 60px;
  padding-bottom: 10px;
}

.logo p {
  font-size: 24px;
}

@media (min-width: 885px) {
  .home main {
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    width: 90%;
  }
  .home .logo {
    flex-basis: 50%;
    text-align: left;
    padding-top: 70px;
  }
}

@media (min-width: 1050px) {
  .logo p {
    font-size: 30px;
  }
}
