.feed {
  background-color: #f0f2f5;
  min-height: 100vh;
  overflow: auto;
}

.opacity {
  opacity: 0.1;
  pointer-events: none;
}

.loading {
  text-align: center;
  margin-top: 100px;
}

.no_posts {
  text-align: center;
}

.friends_link,
.create_link {
  color: #1877f2;
}

.friends_link:hover,
.create_link:hover {
  cursor: pointer;
  color: #124d97;
}
