/* single comment */

.single_comment {
  display: flex;
  gap: 10px;
  position: relative;
  margin-bottom: 30px;
}

.comment_user_icon_container {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #bfc2c6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_icon path {
  fill: #fff;
}

.comment_text_container {
  background-color: #f0f2f5;
  border-radius: 10px;
  width: 90%;
  padding: 10px;
}

.user_name {
  font-weight: bold;
}

.comment_text {
  font-size: 15px;
}

.created_at {
  position: absolute;
  bottom: -20px;
  left: 70px;
  font-size: 14px;
  color: #65676b;
}
